.CreateFileModal {
  position        : fixed;
  top             : 15em;
  left            : 50%;
  transform       : translate(-50%, -50%);
  width           : 400px;
  background-color: var(--cloud-logo-color);
  border          : 1px solid var(--dark-blue-color);

  h1 {
    text-align: center;
  }

  .FileNameInput {
    margin: 5px auto;
    width : 90%;
  }

  .Buttons {
    margin    : 10px;
    margin-top: 20px;
    display   : flex;

    margin-left: auto;
    width: max-content;

    button {
      margin: 4px;
    }
  }
}