.DropDownList {
  position        : absolute;
  right           : 0px;
  background-color: var(--cloud-logo-color);
  border          : 1px solid var(--dark-blue-color);

  .ItemList {
    padding: 5px;

    .Item {
      display              : grid;
      grid-template-columns: 30px 1fr;
      padding              : 5px;
      align-items          : center;

      img {
        grid-column: 1;
        max-width  : 24px;
        max-height : 24px;
      }

      span {
        grid-column: 2;
      }
    }
  }
}