:root {
  --app-color       : #FFFFFF;
  --background-color: #F1F1F1;
  --dark-blue-color : #3C4387;
  --dark-blue-less-color: #313870df;
  --highlited-aqua-color: rgb(183, 255, 255);
  --cloud-logo-color: #d5e5ff;
}