.FileAreaContextMenu {
  position: absolute;

  display         : flex;
  flex-direction  : column;
  row-gap         : 5px;
  padding         : 10px;
  background-color: var(--highlited-aqua-color);
  border          : 1px solid var(--dark-blue-color);

  .Item {
    display    : flex;
    align-items: center;
    cursor     : pointer;

    img {
      height      : 24px;
      width       : 24px;
      margin-right: 5px;
    }

    span {
      font-size: 18px;
    }
  }
}